.slide-container > a {
    background: #26539b;
    color: #fff;
}
.slide-container:before,
.slide-color,
.slide-deco {
    background: #26539b;
}
.slide-container > input:checked + a,
.slide-container > input:checked:hover + a,
.slide-container > input:hover + a {
    background: #2c62ba;
}
.slide-container > input:checked + a:hover,
.slide-container > input:checked:hover + a:after {
    border-top-color: #2c62ba;
}
.slide-container > input:hover + a:after {
    border-bottom-color: #2c62ba;
}
.slide-panel,
.slide-color .slide-deco {
    background: #7c7c7c;
}
[data-icon]:after {
    color: #7c7c7c;
}
.slide-panel h2,
.slide-color [data-icon]:after {
    color: #26539b;
}
.slide-panel h3 {
    color: #ccc;
}
.slide-panel p,
.slide-panel form,
.slide-color p {
    color: #fff;
}
.slide-color h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
