body {
    overflow: hidden;
}
.slide-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slide-container > input,
.slide-container > a {
    position: fixed;
    top: 0;
    width 20%;
    height: 34px;
    line-height: 34px;
}
.slide-container {
    opacity: 0;
    z-index: 1000;
}
.slide-container > a {
    z-index: 10;
}
.slide-container:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 34px;
    z-index: 9;
    top: 0;
}
#slide-control-1,
#slide-control-1 + a {
    left: 0;
}
#slide-control-2,
#slide-control-2 + a {
    left: 20%;
}
#slide-control-3,
#slide-control-3 + a {
    left: 40%;
}
#slide-control-4,
#slide-control-4 + a {
    left: 60%;
}
#slide-control-5,
#slide-control-5 + a {
    left: 80%;
}
.slide-container > input:checked + a:after,
.slide-container > input:checked:hover + a:after {
    top: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}
.slide-scroll,
.slide-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-scroll {
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
}
.slide-panel {
    overflow: hidden;
}
.slide-deco {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -200px;
    left: 50%;
    margin-left: -100px;
}
[data-icon]:after {
    content: attr(data-icon);
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    bottom: 35%;
    right: 35%;
    margin: -100px 0 0 -100px;
}
.slide-panel h2,
.slide-panel h3 {
    position: absolute;
    width: 80%;
    left: 10%;
    line-height: 50px;
    margin: -70px 0 0 0;
    padding: 0;
    top: 50%;
    -webkit-backface-visibility: hidden;
}
.slide-panel h3 {
    margin: -20px 0 0 0;
}
.slide-panel p,
.slide-panel form {
    position: absolute;
    line-height: 22px;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
}
.form-line {
    margin-bottom: 10px;
}
.form-line > label > i {
    margin-top: 5px;
}
.form-line > input {
    height: 25px;
    width: 150px;
    border-radius: 5px;
}
.form-line > button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
